body {margin: 0}
.wrap{
    margin: 0 auto;
    height: 700px;
    width: 100%;

}
.A {
    margin: 10px 2.5%;

    background: red;
    width: 95%;
    height: 280px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.BCDEF {
    margin: 10px 2.5%;
    width: 95%;
    height: 380px;
    display: flex;
    justify-content: space-between;

}
.BCDE{

    height: 100%;
    width: 68%;

}
.B {
    margin: 0 0 10px 0;
    width: 100%;
    height: 180px;
    background: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.CDE {
    margin: 10px 0 0 0;
    height: 190px;
    width: 100%;
    display: flex;

}
.C{
    margin-right: 10px;
    width: 33%;
    height: 190px;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.D{
    margin: 0 10px;
    width: 33%;
    height: 190px;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.E{
    margin-left: 10px;
    width: 33%;
    height: 190px;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.F {
    background: blueviolet;
    height: 380px ;
    width: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.name {
    color: white;
    font-size: 40px;
}

@media screen  and (max-width: 800px){
    .A {
        height: 80px;
        background: blue;
    }
    .BCDEF{
        flex-direction: column;
        width: 100%;

    }
    .BCDE {
        flex-direction: column;
        width: 95%;

    }
    .B {
        background: gold;
        width:100%;
        height:250px;
    }
    .C {
        background: red;
        height: 120px}

    .D {
        background: red;
        height: 120px}
    .E {
        background: red;
        height: 120px}

    .F{
        margin: 10px 0 ;
        background: black;

        width: 95%;
        height: 130px;
    }


}